<a href="https://colab.research.google.com/github/csisyoon-hui/Data-Analysis-with-Open-Source/blob/main/2_3%EA%B0%95_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 슬라이싱

In [1]:
# 리스트에서 특정 범위 요소 추출
numbers = [10, 20, 30, 40, 50, 60, 70]
subset1 = numbers[0:3]
print(subset1)

[10, 20, 30]

In [5]:
# 리스트에서 특정 범위 요소 추출
numbers = [10, 20, 30, 40, 50, 60, 70]
first_four = numbers[:4]
print(first_four)
last_three = numbers[-3:]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [7]:
# 간격을 활용한 리스트 슬라이싱 예
numbers = [10, 20, 30, 40, 50, 60, 70]
every_other_list = numbers[::2]
print(every_other_list)

reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [9]:
# 다차원 리스트 슬라이싱
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

first_to_rows = matrix[0:2]
print(first_to_rows)

first_two_columns = [row[0:2] for row in matrix]
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

In [10]:
# 리스트 슬라이실을 사용한 리스트 값 변경
numbers = [10, 20, 30, 40, 50, 60, 70]
numbers[2:5] = [300, 400, 500]
print(numbers)

[10, 20, 300, 400, 500, 60, 70]

# 리스트 컴프리헨션

In [13]:
# 일반적인 리스트 생성
numbers = []
for i in range(5):
    numbers.append(i)

print(numbers)

# 리스트 컴프리헨션을 사용한 리스트 생성
# numbers = [i for i in range(5)]
# print(numbers)
numbers = [i for i in range(5)]
print(numbers)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [14]:
# 일반적인 리스트 값 변경을 통한 리스트 생성
numbers = [1, 2, 3, 4, 5]
squares = []
for num in numbers:
    squares.append(num ** 2)

print(squares)

# 리스트 컴프리헨션을 통한 값이 변경된 리스트 생성
numbers = [1, 2, 3, 4, 5]
# squares = [num ** 2 for num in numbers]
# print(squares)
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [15]:
# 조건을 만족하는 원소만 선택하여 리스트 생성
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print(even_numbers)

# 리스트 컴프리헨션을 사용한 특정 원소 선택 후 리스트 생성
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers = [num for num in numbers if num % 2 ==0]
print(even_numbers)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [16]:
# 두 리스트의 모든 조합을 포함하는 리스트 생성
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = []
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))
print(pairs)

#리스트 컴프리헨션을 사용하여 두 리스트의 모든 조합을 포함한 리스트 생성
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
# pairs = [(fruit, product) for fruit in list1 for product in list2]
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]
[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

# 딕셔너리 컴프리헨션

기본적인 문법 형태는 리스트 컴프리 헨션과 동일

리스트의 [] 연산자 대신 딕셔너리의 **{} 연산자를 사용**한다는 점에 주의 \

In [17]:
# 일반적인 반복문을 사용한 방법
squares = {}
for i in range(5):
    squares[i] = i ** 2
print(squares)

# 딕셔너리 컴프리헨션을 사용한 방법
# squares = {i: i ** 2 for i in range(5)}
squares = {i: i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [26]:
# 일반적인 반복문을 사용한 방법
squares = {}
for i in range(5):
    squares[i] = i ** 2
print(squares)

# 딕셔너리 컴프리 헨션을 사용한 방법
squares = {i: i ** 2 for i in range(5)}
print(squares)

# 특정 조건을 적용한 방법
# even_squares = {num: num ** 2 for num in range(10) if num % 2 == 0}
even_squares = {num: num ** 2 for num in range(10) if num % 2 ==0}
print(even_squares, '\n')

# 다양한 조건을 사용한 데이터 필터링
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

print('모든 도시: ', city_population, '\n')

# large_cities = {city: pop for city, pop in city_population.items() if pop >= 200}
large_cities = {city: pop for city, pop in city_population.items() if pop >= 200}
print('인구 200만 명 이상의 도시:', large_cities, '\n')

# large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
print("인구 300만 명 이상의 '산' 글자가 포함된 도시:", large_short_name_cities, '\n')

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

모든 도시:  {'서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147, '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94}

인구 200만 명 이상의 도시: {'서울': 957, '부산': 339, '인천': 294, '대구': 242}

인구 300만 명 이상의 '산' 글자가 포함된 도시: {'부산': 339}

In [27]:
# 일반적인 딕셔너리 값 변경
scores = {'김철수': 45, '이영희': 38, '박지성': 49, '최민수': 30, '정수정': 42}
percentage_scores_old = {}
for name, score in scores.items():
    percentage_scores_old[name] = (score / 50) * 100
print('기존 방식 결과:', percentage_scores_old)

# 딕셔너리 컴프리헨션을 이용한 값 변경
scores = {'김철수': 45, '이영희': 38, '박지성': 49, '최민수': 30, '정수정': 42}
# percentage_scores_new = {name: (score / 50) * 100 for name, score in scores.items()}
percentage_scores_new = {name: (score / 50) * 100 for name, score in scores.items()}
print('딕셔너리 컴프리헨션 결과:', percentage_scores_new)

기존 방식 결과: {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}
딕셔너리 컴프리헨션 결과: {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}

# 데이터 입출력 (문자열 형식 지정)

In [28]:
# C 스타일(% 연산자) 포맷팅
item = '프린터'
price = 360000
print('상품명: %s, 가격: %d' % (item, price))

상품명: 프린터, 가격: 360000

str.format() 방식은 % 연산자 방식보다 가독성이 좋고 유연성이 높지만, 복잡한 문자열 형식 지정이 필요한 경우 코드가 장황해짐
여러 줄의 복잡한 형식을 지정할 때 중괄호와 형식 지정자의 조합이 읽기 어려워질 수 있음

In [29]:
# str.format() 메서드를 통한 문자열 형식 지정
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)

index_format = '이름: {0}, 나이: {1}, {0}의 세후 월급은 {2}'.format(name, age, int(salary * (1 - tax_rate)))

keyword_format = '이름: {employee}, 나이: {years}, 월급: {income:,}, 세금: {tax:.1%}'.format(employee = name, years = age, income = salary, tax = tax_rate)

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원
이름: 홍길동, 나이: 30, 홍길동의 세후 월급은 3150000
이름: 홍길동, 나이: 30, 월급: 3,500,000, 세금: 10.0%

f-문자열은 임문자열 내에 변수나 표현식을 직접 삽입할 수 있는 간결하고 가독성이 높은 방법

파이썬 내부 구현 방식으로 인해 f-문자열은 다른 문자열 형식 지정 방법보다 실행 속도가 빠름

f-문자열은 코드의 길이를 줄이고 가독성을 높이며, 표현식을 직접 포함할 수 있는 장점이 있음

In [ ]:
# f-문자열(1)
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
print(f'이름: {name}, 나이: {age}')


# f-문자열(2)
basic_format = f'이름: {name}, 나이: {age}, 월급: {salary}원'

index_format = f'이름: {name}, 나이: {age}, {name}의 세후 월급은 {int(salary * (1 - tax_rate))}'

keyword_format = f'이름: {name}, 나이: {age}, 월급: {salary}, 세금: {tax_rate:.1%}'

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30
이름: 홍길동, 나이: 30, 월급: 3500000원
이름: 홍길동, 나이: 30, 홍길동의 세후 월급은 3150000
이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 10.0%

# 컨텍스트 관리 (with 문 사용)

In [31]:
# open() 함수와 close() 메서드
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

# with 문 사용
with open('output.txt', 'w') as file:
    file.write('Hello, world!\n')

with open('input.txt', 'r') as in_file, open('output.txt', 'w') as out_file:
    for line in in_file:
        out_file.write(line.upper())

# 언패킹
시퀀스 자료형(리스트, 튜플, 문자열 등)에서 여러 개의 값을 개별 변수에 분리하여 할당하는 기능

시퀀스 객체의 요소 수와 왼쪽의 변수 개수는 일치해야 한다.

In [32]:
# 언패킹 사용 예(1)
coordinates = (10, 20)
x, y = coordinates
print(f'x좌표: {x} y좌표: {y}')

rgb = [255, 128, 0]
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')
print('\n')


# 함수에서 여러 값을 반환하는 언패킹
def get_dataset_stats(values):
    return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}') # average.2f 평균값을 소수점 둘째 자리까지만 표시한다는 의미

x좌표: 10 y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C


최솟값: 5, 최댓값: 32, 평균: 15.57

In [ ]:
# 언패킹 사용 예(2)
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

for name, database, python, cloud in student_scores:
    average = (database + python + cloud) / 3
    print(f'{name} 학생의 평균 점수: {average:.2f}')

김철수 학생의 평균 점수: 85.00
이영희 학생의 평균 점수: 91.67
박지민 학생의 평균 점수: 82.67

In [34]:
# 확장 언패킹 사용 예
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

print('\n')

first, *middle, last = monthly_sales
print(f'첫달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]


첫달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

# 언더스코어

In [ ]:
# 언더스코어 사용 예(1)
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]
print('이름과 성적 출력:')
for _, name, _, _, grade in students:
    print(f'{name}의 성적: {grade}')

print('\n')

# 언더스코어 사용 예(2)
def get_coordinates():
    return (10, 20, 30)

_, y, _ = get_coordinates()
print(y)

이름과 성적 출력:
김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5


20

# 예외 처리

In [ ]:
try:
    number = int(input('정수를 입력하세요: '))
    result = 10 / number
    print(f'결과: {result}')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')
finally:
    print('계산 끝~')

정수를 입력하세요: 4
결과: 2.5
계산 끝~

# 함수형 프로그래밍
함수형 프로그래밍은 수학적 함수의 개념을 기반으로 한 프로그래밍 기법

데이터 변경을 최소화하고 순수 함수를 활용하여 부작용을 줄이는것을 목표

예측 가능성과 재사용성이 높아지고, 병렬 처리와 같은 고급 연산에서도 안전성을 확보할 수 있도록 돕는다.

1) 람다 함수

이름이 없는 익명 함수로 한줄의 표현식으로 작성할 수 있는 함수

즉시 사용할 수 있는 단순한 연산을 수행할 때 적합

**lambda 매개변수: 표현식**

In [ ]:
# 일반 함수
def add(x):
    return x + 2
print(add(3))
print('\n')

# 람다 함수
add_lambda = lambda x: x + 2
print(add_lambda(3))
print('\n')

# 람다 함수
concat = lambda s1, s2: s1 + ' ' + s2
print(concat('파이썬', '데이터 분석'))
print('\n')

# 람다 함수의 정의
is_even = lambda x: '짝수' if x % 2 == 0 else '홀수'
print(is_even(10))
print(is_even(7))
print('\n')

# 람다 함수의 활용
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

adjust_salary = lambda salary: salary * 1.1

update_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}
print(update_salaries)
print('\n')

# sorted() 함수를 통한 데이터 정렬 예
students = [
    ('김지은', 85),
    ('이민수', 92),
    ('박서현', 78),
    ('정준호', 88),
    ('최유진', 95)
]
sorted_students = sorted(students, key=lambda student: student[1])

print('성적 오름차순 정렬 결과:')
for name, score in sorted_students:
    print(f'{name}: {score}점')

5


5


파이썬 데이터 분석


짝수
홀수


{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}


성적 오름차순 정렬 결과:
박서현: 78점
김지은: 85점
정준호: 88점
이민수: 92점
최유진: 95점

2) map, filter, reduce

map(), filter(), reduce()는 대표적인 함수형 프로그래밍 기법으로 데이터 변환, 필터링, 누적 연산을 수행하는 역할을 한다.

이 함수들은 반복문을 사용하지 않고도 리스트나 다른 반복 가능한 객체의 요소를 손쉽게 조작할 수 있도록 도와준다.

**map 함수**

반복 가능한 객체의 모든 요소에 특정 함수를 적용하여 새로운 값을 생성

리스트나 튜플과 같은 자료구조의 요소를 변경해야 할 때 유용하게 사용

In [ ]:
# map 함수 사용 예(1)
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
celsius_to_fahrenheit = lambda c: (c * 9/5) +32
temperature_fahrenheit = list(map(celsius_to_fahrenheit, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)
print('\n\n')

# map 함수 사용 예(2)
words = ['python', 'data', 'analysis', 'programming']
uppercase_words = list(map(lambda word: word.upper(), words))
print(uppercase_words)
print('\n\n')

# map 함수 사용 예(3)
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]
updated_employees = list(map(lambda emp: {'name': emp['name'],
                                          'salary': emp['salary'] * 1.1}, employees))
print('\n급여 인상 후:')
for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]



['PYTHON', 'DATA', 'ANALYSIS', 'PROGRAMMING']




급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

**filter() 함수**

특정 점수 이상을 받은 학생만 추출하거나, 결측치가 없는 데이터만 남기거나,

특정 조건을 만족하는 고객 정보를 필터링하는 등의 작업을 수행할 수 있다.

이때 필요한 데이터만 추출하는 과정이 필요한데, 파이썬에서는 이를 위해 filter() 함수를 제공

filter() 함수는 반복문 없이도 간결하고 효율적인 데이터 필터링을 가능하게 한다.

filter() 함수는 리스트나 튜플과 같은 반복 가능한 객체의 요소 중 특정 조건을 만족하는 요소만 남긴다.

**True 또는 False를 반환하는 함수(조건 함수)를 첫 번째 인자로 받고, 두번째 인자로 반복 가능한 객체를 받는다.**

In [ ]:
# filter 함수 사용 예 (1)
numbers = [10, 15, 20, 25, 30]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)
print('\n\n')

# filter 함수 사용 예 (2)
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '방서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78 },
]
passed_students = list(filter(lambda student: student['score'] >= 70, osda_students))
print('70점 이상 합격한 학생 목록')

for student in passed_students:
    print(f'이름: {student['name']}, 점수: {student['score']}')

[10, 20, 30]



70점 이상 합격한 학생 목록
이름: 김지원, 점수: 85
이름: 방서연, 점수: 90
이름: 최예은, 점수: 78

**reduce 함수**

데이터 분석 결과를 생성하는 과정에서는 여러 개의 데이터를 하나의 값으로 축약하여 표현하는 과정도 빈번하게 발생

리스트에 포함된 숫자의 총합을 구하거나, 문자열을 하나로 합치거나, 최댓값을 찾는 작업이 이에 해당한다.

reduce() 함수는 반복문을 사용하지 않고도 리스트나 튜플과 같은 반복 가능한 객체의 모든 요소를 누적하여 하나의 값으로 축소하는 함수

1) 리스트의 첫 번째와 두 번째 요소를 함수에 적용하여 중간 결과를 생성

2) 그 중간 결과와 리스트의 다음 요소를 다시 함수에 적용

3) 이 과정을 반복하여 최종적으로 하나의 값을 반환

In [ ]:
from  functools import reduce

# reduce() 함수 사용 예 (1)
numbers = [1, 2, 3, 4, 5]
total_sum = reduce(lambda x, y: x + y, numbers)
print(total_sum)
print('\n\n')

#reduce() 함수 사용 예 (2)
numbers = [3, 7, 2, 9, 5]
max_value = reduce(lambda x, y: x if x > y else y, numbers)
print(max_value)

15